<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Example Chat app</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      #chat-history {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>External chat app example</h1>

      <div id="conversation-list">
        <ul id="chat-list" class="list-group"></ul>

        <div class="card" style="margin-top: 20px">
          <div class="card-body">
            <h5>Start new chat</h5>
            <div class="mb-3">
              <label for="visitor-name" class="form-label">New chat name</label>
              <input
                type="text"
                class="form-control"
                id="visitor-name"
                placeholder="Visitor name"
              />
            </div>
            <div class="mb-3">
              <button id="start-chat" class="btn btn-primary mb-3">
                Start new chat
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="chat-history">
        <ul id="message-list" class="list-group"></ul>

        <div class="card" style="margin-top: 20px">
          <div class="card-body">
            <div class="mb-3">
              <label for="visitor-name" class="form-label">Message</label>
              <input
                type="text"
                class="form-control"
                id="message"
                placeholder="Type here.."
              />
            </div>
            <div class="mb-3">
              <button id="send-message" class="btn btn-primary mb-3">
                Send
              </button>
              <button id="back" class="btn btn-secondary mb-3">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/app.js"></script>
  </body>
</html>
